@import 'mediaQuery.scss';
@import 'giphy.scss';

.form{
  display: grid;
  justify-content: center;
  input{
    width: 200px;
    margin-top: 10px;
  }
  button{
    width: 100px;
    justify-self: center;
    margin-top: 10px;
  }
}

.loading{
  width: 50px;
  height: 50px;
}
